/*
   HTML5 CSS RESET
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

/*
   What's On Programs styles
*/
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body { font-family:"DIN-Regular-Kiosk"; line-height:1.1; font-size: 38px; color:#000; position:relative; }
.wrap { width:1080px; height:1920px; background:#FFCB48; position:relative; height: 1366px; width: 758px;}
h1 { font-family:"DIN-Bold-Kiosk"; text-transform:uppercase; width:1080px; text-align:left; padding:50px 0 20px 110px; font-weight:normal; font-size:38px}
.headingline {    display:none}
.program_block { margin:0px 0; width:500px;}
span { color: #C1272D}
.time { width:500px; text-align:left; padding:10px 0 10px 0;  border-top:2px #000 solid; border-bottom:2px #000 solid;  font-family:"DIN-Bold-Kiosk"; text-transform:uppercase;  font-size:38px}
.program_title { margin:10px 0px; font-family:"DIN-Bold-Kiosk"; text-transform:uppercase;  font-size:38px}
.program_details { font-size: 26px; line-height:1.3; color:#4D4D4D; padding-bottom:18px;}
#news_container { width: 500px; margin: 0 0 0 110px}
#news_container ul  {    list-style-type:none;}
